@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 15em 1fr;
  font-family: "Roboto", Arial, sans-serif;
}
.sidebar {
  display: grid;
  background-color: #3b82f6;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  align-content: start;
  grid-template-columns: 1fr 4fr;
  padding: 1rem;
}
.left-sidebar,
.right-sidebar {
  display: grid;
  gap: 2rem;
}
.sidebar-container {
  display: grid;
  align-content: start;
  gap: 1rem;
}
.content {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #d4d4d8;
}
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
.article-item {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  border-left: 4px solid yellow;
}
